VITE_SUPABASE_URL=https://eggimscojuvulmcieoyt.supabase.co
# VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVnZ2ltc2NvanV2dWxtY2llb3l0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjAyNTM4NzgsImV4cCI6MjA3NTgyOTg3OH0.J5yIhEd0maAzy5aspdf9pi1xUYe0APBf5qtMpSxwgk0
JWT_SECRET=bfe2335e29cec0b75cfecdf7c24d915c349ba90367077bca9020b2f2fae73eb4e5f653a1a0992e66de14c28375e31c8b197dc535707333dcbd6159988c8e0796
JWT_EXPIRES_IN=7d
SUPABASE_SERVICE_ROLE_KEY= eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVnZ2ltc2NvanV2dWxtY2llb3l0Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MDI1Mzg3OCwiZXhwIjoyMDc1ODI5ODc4fQ.HsImZlO0U10vTMB0T3xZDdCc2a7PHWkkAj5HRoaOWwQ

PORT=3000
NODE_ENV=development
CORS_ORIGIN=*

API_RATE_LIMIT=100
API_RATE_LIMIT_WINDOW_MS=15min