# Backend API Configuration
# EXPO_PUBLIC_API_URL=https://pinasafe-mobile-backend-server.onrender.com
# AI_ENDPOINT_URL=https://image-ai-classifier-1.onrender.com/predict


# Philippine Locations API (optional)
PSGC_API_URL=https://psgc.gitlab.io/api
EXPO_PUBLIC_GOOGLE_MAPS_API_KEY=AIzaSyDkYyrir1sBjbOXedIvyyn6mbGvJX3VSjE